:root {
    --fontPrimary: "Montserrat", sans-serif;

    /* Colors */
    --black: #000000;
    --white: #ffffff;
    --backgroundHeader: #0f0e17; 
    --bg-alt: #161422;
    --primary: #fed941;
    --bakcground-btnBlack: #0C0E16;
    /* --primary-hover: hsl(48, 99%, 70%); */
    --grey: #a7a9be;
  
   
   
    --headline1: 700 48px/58px var(--fontPrimary);
    --headline2: 700 46px/56px var(--fontPrimary);
    --headline3: 700 37px/31.5px var(--fontPrimary);
    --headline4: 700 28px/34.13px var(--fontPrimary);
    --headline5: 700 25px/30.48px var(--fontPrimary);
    --body1: 400 18px/27px var(--fontPrimary);
    --body1-bold: 700 18px/27px var(--fontPrimary);
    --body2: 400 16px/22px var(--fontPrimary);
    --body2-bold: 700 16px/22px var(--fontPrimary);
    --button: 700 18px/28px var(--fontPrimary);
    --linkSlider: 700 16px/19px var(--fontPrimary);
    --caption: 400 12px/22px var(--fontPrimary);

    
    --height-header: 3.5rem;
    --height-input-header: 2.75rem;
    /* Sizes */
    /* --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --lg: 1.5rem;
    --xlg: 2rem;
    --xxlg: 2.5rem;
  
    --h-header: 3.5rem;
    --w-icon: var(--lg);
    --w-icon-sm: var(--md);
    --w-card: 5rem;
    --w-logo: 66.75px;
    --w-spinner: var(--xxlg);
    --gap-col: 0.75rem;
    --gap-row: var(--md);
    --gap-header: var(--lg);
    --p-button: 10px var(--lg);
    --top-card: var(--sm);
    --section: var(--md);
    --w-loader: 40px;
    --border-loader: 4px;
    --w-card-modal: 10rem;
    --h-slider: 6.5rem;
    --w-slider-button: 12px;
    --w-size: 73rem;
    --h-full: 100vh; */
  }